@page "/"

@using ToTechsDotNet.Data

<div style="height: 20vh; width: 100%; border-radius: 10px;
            position: relative;">
    <img src="../Assets/CoverHomePage.jpg" style="object-fit: cover; height: 20vh; width: 100%; border-radius: 10px">
    <h1 style="text-align: center; color: #fdfc47; font-weight: 700; position: absolute;
               z-index: 2; top: 50%; left: 0; right: 0; margin-top: -25px;
               text-transform: uppercase; letter-spacing: 3px;">The ToTech Research</h1>
</div>

<div class="row">
    <div class="col-md-4" style="padding: 30px">
        <h2 style="text-align: center; font-weight: 700; margin-bottom: 30px">DESIGN</h2>
        <img src="../Assets/BlazorDesign.png" 
             style="height: 350px; width: 350px; 
             display: block; margin: auto;">
    </div>
    <div class="col-md-8" style="padding: 30px">
        <img src="../Assets/Space.png" style="object-fit: cover; margin-top: 30px; height: 30vh; width: 100%; border-radius: 10px; 
                                              display: block; margin: auto;">
        <p style="text-align: center; margin-top: 10px;">
            "A designer knows he has achieved perfection not when there is nothing left to add, but when there is nothing left to take away."
        </p>
        <div style="text-align: center;">
            <img src="../Assets/Icons/ae.png" style="margin: 5px; height: 50px; width: 50px;">
            <img src="../Assets/Icons/ai.png" style="margin: 5px; height: 50px; width: 50px;">
            <img src="../Assets/Icons/ps.png" style="margin: 5px; height: 50px; width: 50px;">
            <img src="../Assets/Icons/xd.png" style="margin: 5px; height: 50px; width: 50px;">
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-8" style="padding: 30px">
        <img src="../Assets/Idea 28.png" style="object-fit: cover; margin-top: 30px; height: 50vh; width: 100%; border-radius: 10px; 
                                              display: block; margin: auto;">
        <div style="text-align: center;">
            <img src="../Assets/Icons/WinUI.png" style="margin: 5px; height: 50px; width: 50px;">
            <img src="../Assets/Icons/UnoPlatform.png" style="margin: 5px; height: 70px; width: 50px;">
            <img src="../Assets/Icons/Xamarin.png" style="margin: 5px; height: 50px; width: 55px;">
            <img src="../Assets/Icons/Blazor.png" style="margin: 5px; height: 50px; width: 50px;">
        </div>

    </div>
    <div class="col-md-4" style="padding: 30px">
        <h2 style="text-align: center; font-weight: 700; margin-bottom: 30px">FRONT-END</h2>
        <img src="../Assets/FrontEnd.png" 
             style="height: 350px; width: 350px; 
             display: block; margin: auto;">
        <p style="text-align: center; margin-top: 10px;">
            “There are two ways of constructing a software design: One way is to make it so simple that there are obviously no deficiencies, and the other way is to make it so complicated that there are no obvious deficiencies. The first method is far more difficult.”
        </p>
    </div>
</div>

<div class="row">
    <div class="col-md-4" style="padding: 30px">
        <h2 style="text-align: center; font-weight: 700; margin-bottom: 30px">BACKEND</h2>
        <img src="../Assets/BackEnd.png" 
             style="height: 350px; width: 350px; 
             display: block; margin: auto;">
        <p style="text-align: center; margin-top: 10px;">
            "Clean code is simple and direct. Clean code reads like well-written prose. Clean code never obscures the designer’s intent but rather is full of crisp abstractions and straightforward lines of control."
        </p>
    </div>
    <div class="col-md-8" style="padding: 30px">
        <img src="../Assets/Microservices.png" style="object-fit: cover; margin-top: 30px; height: 50vh; width: 100%; border-radius: 10px; 
                                              display: block; margin: auto;">
        <div style="text-align: center;">
            <img src="../Assets/Icons/DotNetCore.png" style="margin: 5px; height: 50px; width: 50px;">
            <img src="../Assets/Icons/NodeJS.png" style="margin: 5px; height: 50px; width: 45px;">
            <img src="../Assets/Icons/ASP.png" style="margin: 5px; height: 50px; width: 180px;">
            <img src="../Assets/Icons/Entity.png" style="margin: 5px; height: 50px; width: 90px;">
            <img src="../Assets/Icons/mssql.png" style="margin: 5px; height: 50px; width: 65px;">
        </div>
    </div>
</div>




@code {
}

